<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <!--外接CSS-->
    <title>Login</title>
    <!--外接JS-->
    <script src="js/jquery.js"></script>
    <script src="js/login.js"></script>
</head>

<body>
    
    <div id="login-begin">
        作业提交系统
    </div>

    <div id="login-btn">
        <span class="btn" id="btn-fl">登陆</span>
        <span class="btn" id="btn-fr">注册</span>
    </div>

    <div id="login-page" class="page">
        <span class="close">×</span>
        <div class="page-title">登陆</div>
        <form id="login-data" method="POST" action="" target="no_show">
            <input type="text" name="user_name" id="login_name" class="data user_name" placeholder="请填写账号" required oninvalid="setCustomValidity('账号不能为空！')" oninput="setCustomValidity('')">
            <input type="password" name="user_pswd" id="login_pswd" class="data user_pswd" placeholder="请填写密码" required oninvalid="setCustomValidity('密码不能为空！')" oninput="setCustomValidity('')">
            <input type="submit" value="完成" class="data-btn" id="login_btn">
        </form>
    </div>

    <div id="register-page" class="page">
        <span class="close">×</span>
        <div class="page-title">注册</div>
        <form id="register-data" method="POST" action="" target="no_show">
            <input type="text" name="user_name" id="register_name" class="data user_name" placeholder="请填写账号" required oninvalid="setCustomValidity('账号不能为空！')" oninput="setCustomValidity('')">
            <input type="password" name="user_pswd" id="pswd" class="data user_pswd" placeholder="请填写密码" required oninvalid="setCustomValidity('密码不能为空！')" oninput="setCustomValidity('')">
            <input type="password" class="data" id="rpswd" placeholder="请再次填写密码" required oninvalid="setCustomValidity('确认密码不能为空！')" oninput="setCustomValidity('')">
            <span id="error_same">两次密码必须一样！</span>
            <input type="submit" value="完成" class="data-btn" id="register_btn">
        </form>
    </div>

    <iframe name="no_show"></iframe>
</body>
</html>